#listings_section {
    width: 100%;
    height: 92dvh;

    display: flex;
    flex-direction: column;
}

#listings_filters {
    width: 97.5dvw;

    display: grid; 
    grid-template-columns: 21dvw auto auto;
    flex-grow: 1;
    align-items: center;

    padding: 2.5dvh;

    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

#search_bar_container {
    height: 100%;
    width: 20dvw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1;

    border: 1px solid black;
    border-radius: 1dvh;
}

#search_bar {    
    height: 92.5%;
    flex-grow: 1;

    border: none;
    border-radius: 1dvh;

    outline: none;
}

#search_button {
    height: 100%;
    
    background-color: transparent;

    border: none;

    cursor: pointer
}

#querying_filter_menu {
    display: none;
    flex-direction: column;

    position: sticky;
    top: 0%;
    padding: 1vh;

    background-color: white;

    overflow: hidden;

    border-bottom: 1px solid black;

    & > span {
        font-weight: 700;
        font-size: 18px;
    }
}

.filter_section {
    padding: 2.5%;

    & > summary {
        margin-bottom: 1vh;

        font-weight: 600;

        cursor: pointer;
    }

    & input[type=text], select, & label {
        margin-left: 5%;
    }

    & input[type=checkbox] {
        accent-color: #6767c2;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid black;
    }
}

.multivalue_container {
    max-height: 10dvh;

    display: flex;
    flex-wrap: wrap;
    padding: 1dvh;
    column-gap: 3px;
    row-gap: 3px;
    
    overflow-y: auto;
}

.query_multivalue_option {
    padding: .2em;

    color: white;
    font-weight: 14px;
    font-weight: 600;

    background-color: #6767c2;

    border-radius: .3em;
}

#extraction_section {
    height: 100%;
    width: 15dvw;

    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    align-items: center;
    grid-column: 3;

    margin-right: 3dvw;
}

#extract_button, #filter_menu_button, #extraction_settings_menu_button, #sorting_direction_button {
    border: none;

    background-color: transparent;

    cursor: pointer;

    &:not(#sorting_direction_button) {
        padding: 1dvh;
    }
    &#sorting_direction_button {
        margin-top: 2px;
        padding: 0 1dvw;
    }
}

#extraction_progress_menu, #extraction_settings_menu {
    height: auto;
    width: 15dvw;
    
    visibility: hidden;
    &#extraction_progress_menu {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
    }
    &#extraction_settings_menu {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    gap: 1.2dvh;

    position: absolute;
    right: 3.25dvw;
    top: 17.2dvh;
    z-index: 10;
    padding: 1dvw;
    
    background-color: white;
    
    border: 1px black solid;
}

#progress_bar_overall {
    visibility: hidden;
}

.progress_bar_container {
    height: 1dvh;
    width: 8dvw;

    display: flex;
    padding: 1dvh;

    &[id=progress_bar_overall] {
        cursor: pointer;
    }

    &.disabled .extraction_progress_bar {
        background-color: rgba(218, 219, 220, 0.2);
        animation: none;
    }

    &.disabled .extraction_progress_bar_value {
        background-color: rgba(214, 214, 214, 0.808);
        animation: none;
    }

    &.errored .extraction_progress_bar {
        background-color: red !important;
        animation: none;
    }

    &.errored .extraction_progress_bar_value {
        background-color: red !important;
        animation: none;
    }
}

.extraction_progress_bar {
    height: 8px;
    width: 100%;

    overflow: hidden;

    background-color: rgba(5, 114, 206, 0.2);
}

.extraction_progress_bar_value {
    width: 100%;
    height: 100%;

    background-color: rgb(5, 114, 206);

    animation: ind_progress_bar 1s infinite linear;
    transform-origin: 0% 50%;
}

/* found on the web, dont remember where */
@keyframes ind_progress_bar {
    0% {
        transform:  translateX(0) scaleX(0);
    }
    40% {
        transform:  translateX(0) scaleX(0.4);
    }
    100% {
        transform:  translateX(100%) scaleX(0.5);
    }
}

#listings_view {
    width: 100%;
    height: 90%;   

    display: flex;
    flex-direction: row;
}

#listings_sidebar {
    width: 25dvw;
    height: 100%;

    overflow: scroll;
    overflow-x: hidden;
}

#filter_word_button, #filter_term_button {
    border: 1px solid black;
    border-radius: 5px;

    background-color: white;

    z-index: 10;

    &:hover {
        background-color: rgb(201, 201, 201);
    }

    &:disabled {
        background-color: rgba(201, 201, 201, 0.848);
    }
}

.listing {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-bottom: 1px black solid;

    cursor: pointer;

    &:last-child {
        border-bottom: none;
    } 

    & i {
        display: flex;

        justify-content: flex-end;
    }
}

.current_listing {
    background-color: #6767c2; 
    color: white;

    & img {
        filter: invert(100%);
    }
}

.listing_title {
    font-size: 18px;
}

.listing_company {
    margin-bottom: 0.5vh;

    font-size: 14px;
}

.listing_condition {
    font-size: 12px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

#listings_pagination {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 0.5dvw;
    padding: 0.5dvw;
}

#listing_details {
    width: 74dvw;

    display: flex;
    flex-direction: column;

    padding: 2dvw;

    border-left: 1px solid black;

    overflow-y: auto;
}

#listing_title_det {
    font-size: 24px;
    font-weight: 700;
}

#platform_id {
    font-size: 14px;
    text-decoration: none;

    color: #00000086;
}

#apply_section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px
}

#apply_button, #applied_button, #dismissed_button {
    display: flex; 
    align-items: center; 
    justify-content: center;

    &:not(.button_disabled) {
        background-color: #6767c2; 
    }
    color: white; 

    border: none;
    border-radius: .5em;
    
    text-decoration: none;

    cursor: pointer;
}

#apply_button {
    height: 7.5dvh; 
    width: 10dvw; 
    
    grid-row: 1 / span 2 ;
}

.button_disabled {
    background-color: rgb(55, 47, 143);
}