* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#app_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    width: 100%;
    height: 7.5%;
}

#listings_section {
    width: 100%;
    height: 92%;

    display: flex;
    flex-direction: column;
}

#listings_filters {
    width: 100%;
    flex-grow: 1;

    border-bottom: 1px black solid;
}

#listings_view {
    width: 100%;
    height: 90%;   

    display: flex;
    flex-direction: row;
}

#listings_sidebar {
    width: 25vw;
    height: 100%;

    overflow: scroll;
    overflow-x: hidden;
}

.listing {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-bottom: 2px gray solid;

    cursor: pointer;

    &:last-child {
        border-bottom: none;
    } 

    & i {
        display: flex;

        justify-content: flex-end;
    }
}

.current_listing {
    background-color: #6767c2; 
    color: white;

    & img {
        filter: invert(100%);
    }
}

.listing_title {
    font-size: 18px;
}

.listing_company {
    font-size: 14px;
}

.listing_condition {
    font-size: 12px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}



#listings_pagination {
    display: flex;
    justify-content: center;
    gap: 0.5dvw;
}

#listing_details {
    width: 74dvw;

    display: flex;
    flex-direction: column;

    padding: 2dvw;

    border-left: 1px solid black;

    overflow-y: auto;
}

#listing_title_det {
    font-size: 24px;
    font-weight: 700;
}

#platform_id {
    font-size: 14px;

    color: #00000086;
}

#apply_section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px
}

#apply_button, #applied_button, #dismissed_button {
    display: flex; 
    align-items: center; 
    justify-content: center;

    &:not(.button_disabled) {
        background-color: #6767c2; 
    }
    color: white; 

    border: none;
    border-radius: .5em;
    
    text-decoration: none;

    cursor: pointer;
}

#apply_button {
    height: 7.5dvh; 
    width: 10dvw; 
    
    grid-row: 1 / span 2 ;
}

.button_disabled {
    background-color: #453e90;
}