* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#app_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    width: 100%;
    height: 7.5%;
}