
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ tab_title }} | Job Search Assistant</title>
        <script src="{% static tab_title|lower|add:'.js' %}"></script>
        <link rel="stylesheet" href="{% static tab_title|lower|add:'.css' %}">
        <script src="https://kit.fontawesome.com/fb813e9d63.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app_container">
            <div id="header">
                <a href="/">Dashboard</a>
                <a href="/vagas">Vagas</a>
            </div>